server {
    listen 8080;
    server_name guewen-marechal.ovh www.guewen-marechal.ovh;

    root /var/www/portfolio;
    index /page/index.html;

    error_page 404 /page/404.html;
    location = /page/404.html {
        internal;
    }

    error_page 500 502 503 504 /page/internal.html;
    location = /page/internal.html {
        internal;
    }

    location / {
        try_files $uri $uri/ =404;
    }
}