/*********************/
/* IMPORT STATEMENTS */
/*********************/

@import url(../colors.css);

/*****************/
/* MEDIA QUERIES */
/*****************/

@media screen and (orientation: portrait) {
    ul {
        display: none;
        flex-direction: row;
    }
}

@media screen and (orientation: landscape) {
    ul {
        display: flex;
        flex-direction: row;
    }
}

/*********/
/* STYLE */
/*********/

h1 {
    color: var(--color-white);
}

nav {
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-blue);
    border-bottom: solid 3px var(--color-orange);
}

nav ul {
    justify-content: space-between;
    gap: 1em;
    width: 30%;
}

li {
    white-space: nowrap;
    font-size: 1.25em;
}

a.here {
    color: var(--color-orange);
}
a.here:hover {
    cursor: default;
}

div.burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 2.5em;
    width: 3em;
}
div.burger:hover {
    cursor: pointer;
}
div.burger div {
    height: 0.2em;
    border-radius: 8px;
    align-self: flex-end;
}
div.burger div:nth-child(1) {
    width: 2em;
    background-color: #ff2222;
}
div.burger div:nth-child(2) {
    width: 2.6em;
    background-color: #00ffff;
}
div.burger div:nth-child(3) {
    width: 2.3em;
    background-color: var(--color-orange);
}
div.burger div:nth-child(4) {
    width: 3em;
    background-color: #22ff22;
}
div.burger div:nth-child(5) {
    width: 1.6em;
    background-color: #ff22aa;
}
div.burger:hover div {
    width: 2em;
}
div.burger:hover div:nth-child(1) {
    margin-right: 0em;
}
div.burger:hover div:nth-child(2) {
    margin-right: 0.5em;
}
div.burger:hover div:nth-child(3) {
    margin-right: 1em;
}
div.burger:hover div:nth-child(4) {
    margin-right: 0.5em;
}
div.burger:hover div:nth-child(5) {
    margin-right: 0em;
}