/*****************/
/* MEDIA QUERIES */
/*****************/

@media screen and (orientation: landscape) and (min-width: 950px) {
    form {
        width: 60%;
    }
}

@media screen and (orientation: portrait), screen and (max-width: 950px) {
    form {
        width: 80%;
    }
}

/*********/
/* STYLE */
/*********/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: end;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

input:not(input[type = submit]), textarea {
    width: 100%;
}

input[type = submit] {
    padding-left: 1em;
    padding-right: 1em;
}

textarea {
    resize: none;
    height: 10em;
}