/*****************/
/* MEDIA QUERIES */
/*****************/

@media screen and (orientation: landscape) and (min-width: 950px) {
    form {
        width: 60%;
    }
}

@media screen and (orientation: portrait), screen and (max-width: 950px) {
    form {
        width: 80%;
    }
}

/*********/
/* STYLE */
/*********/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    height: 60dvh;
    justify-content: space-around;
}

article {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

strong {
    color: var(--color-orange);
}
strong:hover {
    cursor: pointer;
    color: var(--color-white);
}