/*****************/
/* MEDIA QUERIES */
/*****************/

@media screen and (orientation: landscape) and (min-width: 950px) {
    main {
        padding-bottom: 5em;
        padding-top: 0 !important;
    }

    section {
        width: 100%;
        flex-direction: row;
        margin-top: 5%;
    }
    
    article:first-child {
        width: 50%;
    }
    article:last-child {
        margin-right: 4em;
        width: 30%;
    }

    article ul {
        width: 75%;
        gap: 5em;
    }

    article button {
        width: 8em;
    }
    
    article h1 {
        font-size: 5em;
    }
    article h2 {
        font-size: 2.5em;
    }
}

@media screen and (orientation: portrait), screen and (max-width: 950px) {
    section {
        flex-direction: column;
        gap: 5em;
        align-items: center;
        padding: 1em;
    }

    article:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;  
    }

    article ul {
        width: 100%;
        justify-content: space-around;
        gap: 2em;
    }
    
    article h1 {
        font-size: 2.75em;
    }
    article h2 {
        font-size: 1.5em;
    }

    article li {
        width: 100%;
    }
    button {
        width: 100%;
    }
}

/*********/
/* STYLE */
/*********/

section {
    display: flex;
    justify-content: space-around;
}

article h2 {
    font-style: italic;
    filter: brightness(0.9);
    font-weight: normal;
}

article ul {
    margin-top: 2em;
    padding: 0;
    display: flex;
}

button {
    background-color: var(--color-orange);
    color: var(--color-dark-blue);
    border-radius: 8px;
    border: none;
    padding: 0.5em;
    font-size: 1.5em;
    border: solid 3px transparent;
}
button:hover {
    cursor: pointer;
    background-color: transparent;
    color: var(--color-orange);
    border: solid 3px var(--color-orange);
}

article:first-child {
    background: none;
    border: none;
    padding: 0;
}
article:last-child {
    font-size: 1.5em;
}