/*********************/
/* IMPORT STATEMENTS */
/*********************/

@import url(/styles/colors.css);

/*****************/
/* MEDIA QUERIES */
/*****************/

@media screen and (orientation: landscape) and (min-width: 950px) {
    section {
        width: 60%;
    }

    p:not(article p) {
        width: 60%;
    }
}

@media screen and (orientation: portrait), screen and (max-width: 950px) {
    p:not(article p) {
        width: 80%;
    }
}

/*********/
/* STYLE */
/*********/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

main h1 {
    font-size: 3em;
    color: var(--color-orange);
}

section {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

section h2 {
    margin-left: 0.5em;
}

ul {
    list-style:disc;
    padding-left: 1.5em;
}

article {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

p:not(article p) {
    text-align: center;
}