/*********************/
/* IMPORT STATEMENTS */
/*********************/

@import url(colors.css);
@import url(fonts.css);

@import url(strucure.css);

@import url(partials/header.css);
@import url(partials/aside.css);
@import url(partials/footer.css);

@import url(partials/up.css);

/*****************/
/* MEDIA QUERIES */
/*****************/

@media screen and (orientation: landscape) and (min-width: 950px) {

}

@media screen and (orientation: portrait), screen and (max-width: 950px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section {
        width: 90%;
    }

    article {
        width: 100%;
    }

    button#up {
        display: none;
    }
}

/*********/
/* STYLE */
/*********/

* {
    margin: 0;
    transition: all 0.2s ease;
    box-sizing: border-box;
}

body {
    background: repeating-conic-gradient(from 30deg, #0000 0 120deg, #0d0a25 0 180deg) calc(.5 * 200px) calc(.5 * 200px * 0.577), repeating-conic-gradient(from 30deg, #090621 0 60deg, #0b0823 0 120deg, #090621 0 180deg);
    background-size: 200px calc(200px * 0.577);

    font-family: quicksand;
    color: var(--color-white);
}

h1, button, img, hr, br, copy, a {
    user-select: none;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--color-white);
}
a:hover {
    color: var(--color-orange);
}

a.here {
    color: var(--color-orange);
}
a.here:hover {
    cursor: default;
}

ul {
    list-style: none;
    padding: 0;
}

button {
    font-weight: bold;
}

article {
    background-color: var(--color-blue);
    border: solid 3px var(--color-orange);
    border-radius: 16px;
    padding: 1em;
}

input, textarea {
    border-radius: 8px;
    padding: 0.5em;
    font-size: 1.5em;
}

input:not(input[type = submit]), textarea {
    background-color: var(--color-dark-blue);
    outline: none;
    border: solid 1px var(--color-white);
    border-radius: 8px;
    color: var(--color-white);
}
input:not(input[type = submit]):focus, textarea:focus {
    background-color: var(--color-dark-blue);
    outline: none;
}

input[type = submit] {
    background-color: var(--color-orange);
    color: var(--color-dark-blue);
    border: none;
    border: solid 3px transparent;
}
input[type = submit]:hover {
    cursor: pointer;
    background-color: transparent;
    color: var(--color-orange);
    border: solid 3px var(--color-orange);
}

label {
    font-weight: bold;
    font-size: 1.5em;
}

div.success, div.error {
    text-align: center;
    width: 100%;
    border-radius: 8px;
    border: solid 1px;
    padding: 0.5em;
}
div.success {
    border-color: green;
    color: green;
    background-color: rgb(0, 255, 0, 0.1);
}
div.error {
    border-color: red;
    color: red;
    background-color: rgb(255, 0, 0, 0.1);
}

button:not(#up) {
    padding: 0.5em;
    background-color: var(--color-orange);
    color: var(--color-dark-blue);
    border: solid 3px var(--color-orange);
    border-radius: 8px;
    font-size: 1.5em;
}

button:not(#up):hover {
    cursor: pointer;
    background-color: var(--color-dark-blue);
    color: var(--color-orange);
}

h2 {
    font-style: italic;
    filter: brightness(0.9);
}