/*********************/
/* IMPORT STATEMENTS */
/*********************/

@import url(colors.css);
@import url(fonts.css);

@import url(strucure.css);

@import url(partials/header.css);
@import url(partials/aside.css);
@import url(partials/footer.css);

/*****************/
/* MEDIA QUERIES */
/*****************/

@media screen and (orientation: landscape) and (min-width: 950px) {

}

@media screen and (orientation: portrait), screen and (max-width: 950px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section {
        width: 90%;
    }

    article {
        width: 100%;
    }
}

/*********/
/* STYLE */
/*********/

* {
    margin: 0;
    transition: all 0.2s ease;
    box-sizing: border-box;
}

body {
    background: repeating-conic-gradient(from 30deg, #0000 0 120deg, #0d0a25 0 180deg) calc(.5 * 200px) calc(.5 * 200px * 0.577), repeating-conic-gradient(from 30deg, #090621 0 60deg, #0b0823 0 120deg, #090621 0 180deg);
    background-size: 200px calc(200px * 0.577);

    font-family: quicksand;
    color: var(--color-white);
}

h1, button, img, hr, br, copy, a {
    user-select: none;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--color-white);
}
a:hover {
    color: var(--color-orange);
}

a.here {
    color: var(--color-orange);
}
a.here:hover {
    cursor: default;
}

ul {
    list-style: none;
}

button {
    font-weight: bold;
}

article {
    background-color: var(--color-blue);
    border: solid 3px var(--color-orange);
    border-radius: 16px;
    padding: 1em;
}