/*****************/
/* MEDIA QUERIES */
/*****************/

@media screen and (orientation: landscape) {
    body {
        grid-template-areas:
            "header"
            "main"
            "footer";
    }
}

@media screen and (orientation: portrait) {
    body {
        grid-template-areas:
            "header"
            "main"
            "aside"
            "footer";
    }

    aside {
        grid-area: aside;
    }
}

/*********/
/* STYLE */
/*********/

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}